/.metadata/
/fgs.apiservice/.settings
/fgs.commons/.settings
/fgs.eurekaserver/.settings
/fgs.fgsweb/.settings
/fgs.gateway/.settings

/fgs.apiservice/.classpath
/fgs.commons/.classpath
/fgs.eurekaserver/.classpath
/fgs.fgsweb/.classpath
/fgs.gateway/.classpath

/fgs.apiservice/target
/fgs.commons/target
/fgs.eurekaserver/target
/fgs.fgsweb/target
/fgs.gateway/target


/fgs.apiservice/*.project
/fgs.apiservice/*.classpath
/fgs.commons/.project
/fgs.commons/target
/fgs.commons/.classpath
/fgs.eurekaserver/.project
/fgs.eurekaserver/target
/fgs.eurekaserver/.classpath
/fgs.fgsweb/.project
/fgs.fgsweb/target
/fgs.fgsweb/.classpath
/fgs.gateway/.project
/fgs.gateway/target
/fgs.gateway/.classpath
